# 데이터구조 : 튜플
```
    Tuple은 소괄호를 사용하여 선언
    튜플은 수정이 불가능하다
    
 * 선언 + 입력 : 변수명 = (1,2,3,4)
 * 읽기 : 변수명[인덱스번호]
 * 추가 : 블가
 * 삭제 : 불가
 * 수정 : 블가
 
 **하지만 튜플끼리 더하거나 반복하는것은 가능하다
 tuple1 = (3,4)
 tuple2 = (5,4)
 print(tuple1+ tuple2) = (3,4,4,5)
 print(tuple1 * 3) = (3,4,3,4,3,4)
```

In [2]:
data_tuple =() #하지만 수정이 불가능하기때문에 이런형태로 선언하는경우는 없다.
type(data_tuple)

tuple

In [6]:
data_tuple = (1,2,3,4)
data_tuple2 = (4,5,6)

In [9]:
data_tuple * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [10]:
x = 1
y = 2

In [11]:
temp = x 
x = y
y = temp

In [12]:
x

2

In [13]:
y

1

In [14]:
x,y = y,x

In [15]:
x

1

In [27]:
def quot_and_rem(x,y):
    quot = x // y
    rem = x % y
    add = x + y
    return quot, rem,add #(quot, rem)라는 튜플로 생각하기에 가능한 출력 파이썬만 가지고있음
quot, rem, add = quot_and_rem(3,10) #return 할 변수값과 받는 값의 갯수는 일치해야한다.

In [23]:
quot

0

In [24]:
add

13

In [28]:
data1 = (1,2,3)

In [29]:
type(data1)

tuple

In [30]:
list(data1) #튜플 자료형을 list형태로 변환

[1, 2, 3]

In [31]:
data1_list = list(data1)

In [32]:
type(data1_list)

list

In [33]:
data1_tuple = tuple(data1_list) #List<->Tuple 의 자료변환이 가능하다

In [35]:
type(data1_tuple)

tuple

# dictionary
```
 * 선언 + 입력: 변수명 ={} 또는 dict{},초기값과 함께 선언해야한다. 변수명 = {키:값}
 * 읽기: 변수명[키]
 * 추기: 변수명[새로운키] = 새로운값
 * 삭제: del 변수명[삭제할키]
 * 수정: 변수명[수정할키] = 수정할값
```

In [36]:
data_list =list() # []
data_tuple = tuple() #()
data_dict = dict() #{}

In [37]:
data_dict = {'한국':'KR','일본':'JP'} # key:value로 이루어져있는 자료구조

In [38]:
data_dict['한국'] #[key]값을 통해 value를 출력함

'KR'

In [39]:
data_dict['중국'] = 'CN'

In [40]:
data_dict

{'한국': 'KR', '일본': 'JP', '중국': 'CN'}

In [41]:
del data_dict['한국']

In [42]:
data_dict

{'일본': 'JP', '중국': 'CN'}

In [43]:
data_dict['중국'] = 'China'

In [44]:
data_dict

{'일본': 'JP', '중국': 'China'}

In [45]:
data_dict.keys() #key만 출력 -> 리스트형태로 출력

dict_keys(['일본', '중국'])

In [48]:
for keys in data_dict.keys():
    print(keys)

일본
중국

In [49]:
data_dict.values() # 값만 출력 -> 리스트형태로 출력

dict_values(['JP', 'China'])

In [50]:
for values in data_dict.values():
    print(values)

JP
China

In [51]:
for data in data_dict.items():
    print(data) # 튜플형태로 출력

('일본', 'JP')
('중국', 'China')

In [53]:
for keys in data_dict.keys():
    print(data_dict[keys])

JP
China

In [54]:
for keys in data_dict.keys():
    print(keys)

일본
중국