## 3. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍3

### Exercise 31. 반복문
* 1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하세요.

In [40]:
sum = 0
for i in range(1,11):
    sum = sum + i
    print(sum,i)
print(sum)

1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9
55 10
55

In [7]:
sum = 0

for index in range(1, 11):
    sum = sum + index
    # 총 합계와 각 index 출력
    # print (sum, index)
print (sum)

55

### Exercise 32. 반복문
* 사용자로부터 2 ~ 9 사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하세요.

In [41]:
random = int(input("2~9사이의 숫자를 입력하세요"))
if random >= 2 and random <= 9:
    for gugudan in range(1,10):
        print(random,"x",gugudan,"=",random * gugudan)
else :
    print("2~9 숫자를 입력하지않아서 동작하지않아요")

2~9사이의 숫자를 입력하세요5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [14]:
data = int(input())

# 조건문과 반복문을 함께 사용할 경우
if data >= 2 and data <= 9:
    for digit in range(1, 10):
        print (data, "X", digit, "=", data * digit)

9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### Exercise 33.  반복문과 문자열 다루기 (split)
* 사용자로부터 , 로 구분된 여러 이름을 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: Dave,David,Andy,Arthor
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [22]:
name = input("여러이름을 ,를 구분하여 입력하세요")
realname = name.split(",")
for namedata in realname:
    print(namedata)

여러이름을 ,를 구분하여 입력하세요david,dave,andy,atrr
david
dave
andy
atrr

In [20]:
data = input()

data_list = data.split(",")
for str_data in data_list:
    print (str_data)

Dave,David,Andy,Arthor
Dave
David
Andy
Arthor

### Exercise 34.  반복문과 문자열 다루기 (split)
* 사용자로부터 [이름1],[이름2],[이름3] 과 같은 형식으로 데이터를 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: [Dave],[David],[Andy],[Arthor]
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [24]:
name = input("이름을 입력해주세요 형태:[이름]")
name_list = name.split(",")
for onlyname in name_list:
    print(onlyname[1:-1]) #인덱스를 활용하여 1번인덱스 부터 뒤에서1번 인덱스까지 출력

이름을 입력해주세요 형태:[이름][dave],[david],[andy],[arr]
dave
david
andy
arr

In [25]:
data = input()

for str_data in data.split(","):
    print(str_data[1:-1])

[Dave],[David],[Andy],[Arthor]
Dave
David
Andy
Arthor

### Exercise 35. 반복문과 조건문
* 1부터 30까지의 숫자 중 3의 배수만 출력하세요.

In [30]:
for multiple in range(1,31):
    if multiple % 3 == 0:
        print(multiple)

3
6
9
12
15
18
21
24
27
30

In [31]:
for data in range(1, 31):
    if data % 3 == 0:
        print (data)

3
6
9
12
15
18
21
24
27
30

### Exercise 36. 반복문 (while)
* 1부터 100까지 숫자를 모두 더한 값을 출력하세요.
  - 단 while 구문을 사용해서 작성하세요.

In [35]:
data=1
sum =0

while data <= 100:
    sum = sum + data
    data = data + 1
    
print(sum)

5050

In [36]:
sum = 0
index = 1

while index <= 100:
    sum = sum + index
    index = index + 1

print (sum)

5050

### Exercise 37. 반복문 (while)
* 사용자로부터 4자리의 숫자로 구성된 데이터를 입력받아서 
  + 비밀번호와 같으면 '비밀번호가 맞습니다.'를 출력하고 종료하세요. 
  + 비밀번호와 다르면 '비밀번호가 틀렸습니다.'를 출력하고 다시 사용자로부터 데이터를 입력받으세요.
    - 비밀번호는 4312 입니다.

In [63]:
psssword = input("4자리 숫자로 암호를 입력하세요")
password_check = "4312"

while psssword != password_check :
    print("비밀번호가 틀립니다")
    psssword = input("다시 비밀번호 4자리를 입력하세요")
    
print("비밀번호가 맞습니다")

4자리 숫자로 암호를 입력하세요3333
비밀번호가 틀립니다
다시 비밀번호 4자리를 입력하세요2222
비밀번호가 틀립니다
다시 비밀번호 4자리를 입력하세요12334
비밀번호가 틀립니다
다시 비밀번호 4자리를 입력하세요4312
비밀번호가 맞습니다

In [62]:

data = input()

while data != '4312':
    print ('비밀번호가 틀렸습니다.')
    data = input()

print ("비밀번호가 맞습니다.")

3333
비밀번호가 틀렸습니다.
4312
비밀번호가 맞습니다.

### Exercise 38. 데이터 구조와 반복문 (리스트)
* 다음 리스트 변수에서 음수 데이터를 삭제하고, 양수만 가진 리스트 변수로 만들고, 해당 변수를 출력하세요.

```python
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
```

In [66]:
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
plus_list = []

for plus_number in num_list:
    if plus_number > 0:
        plus_list.append(plus_number)
        plus_list.sort()
print(plus_list)

[22, 31, 33]

In [38]:
plus_list = list()
num_list = [0, -11, 31, 22, -11, 33, -44, -55]

for num in num_list:
    if num >= 0:
        plus_list.append(num)

print (plus_list)

[0, 31, 22, 33]

### Exercise 39.  데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 데이터의 길이를 한 라인에 하나씩 출력하세요.

```python
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
```

In [70]:
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]

for data in list_data:
    print(data,len(data))

fun-coding 10
Dave 4
Linux 5
Python 6
javascript 10
front-end 9
back-end 8
dataengineering 15

In [71]:
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]

for data in list_data:
    print (len(data))

10
4
5
6
10
9
8
15

### Exercise 40. 데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 숫자를 역 방향으로 출력하세요.
  - 단, 리스트에 있는 숫자들은 한 라인에 하나씩 출력하세요.
```python
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
* 실행 예:<br>
10 <br>
9 <br>
8 <br>
7 <br>
6 <br>
5 <br>
4 <br>
3 <br>
2 <br>
1

In [75]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

data.reverse()

for reverse in data:
    print(reverse)

10
9
8
7
6
5
4
3
2
1

In [42]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

data.reverse() #reverse(),sort()는 원래의 값을 정렬한채로 변경한다

for item in data:
    print (item)

10
9
8
7
6
5
4
3
2
1

### Exercise 41. 데이터 구조 (리스트), 반복문, 문자열 다루기
* 다음과 같이 파일 이름(확장자 포함) 저장하고 있는 리스트가 있을 때 확장자를 제거하고 파일 이름만 출력하세요.

```python
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
```

In [80]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']

for realname in filelist:
    filename = realname.split(".")[0]
    print(filename)

exercise01
exercise02
exercise03
exercise04
exercise05

In [51]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']

for filename in filelist:
    filelist_item = filename.split(".")
    print (filelist_item[0])

exercise01
exercise02
exercise03
exercise04
exercise05

### Exercise 42. 데이터 구조 (리스트), 반복문, 조건문, 문자열 다루기
* 파일 이름이 다음과 같은 리스트에 저장되어 있을 때 확장자가 .txt 인 파일에 대한 리스트를 출력하라

```python
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
```

In [89]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']

for filename in filelist:
    if filename.split(".")[1] == 'txt': #split은 해당 데이터를 변경시키지 않는다.
        print(filename)

exercise03.txt

In [55]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']

for filename in filelist:
    if filename.split(".")[1] == 'txt':
        print (filename)

exercise03.txt

### Exercise 43. 문자열 다루기와 조건문
* prices 변수에 100 ~ 999 달러 까지 입력될 때, 해당 값을 원 화로 바꿔서 계산하세요.

```python
prices = '100 달러'
```

* 환율은 다음과 같음
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
</tbody>
</table>

출력: <br>
111200 원

In [9]:
prices = int(input("100~999달러 사이의 값을 입력하세요"))
exchange_rate = 1112

if prices == 100:
    won = prices * exchange_rate
else:
    int(input("100달러를 입력하셔야지 계산이 종료됩니다"))
    won = prices * exchange_rate
print(won ,"원")

100~999달러 사이의 값을 입력하세요100
111200 원

In [12]:
prices = input()

if prices[4:] == '달러':
    print (int(prices[:4]) * 1112, '원')

100 달러
111200 원

### Exercise 44. 문자열 다루기와 조건문
* 사용자로부터 달러 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 100 ~ 999 위안 까지 입력 가능하고, 각 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
  - 각 통화별 환율은 다음과 같습니다.   
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
</tbody>
</table>


출력: <br>
111200 원

In [23]:
money = input("달러 또는 위안 금액을 입력하세요 ex)100달러")


if money[3:] == '달러':
    print(int(money[:3]) * 1112 , '원')
elif money[3:] == '위안':
    print(int(money[:3]) * 171 , '원')
else:
    print("올바른 명칭으로 금액을 입력하세요")

달러 또는 위안 금액을 입력하시면 환전해드립니다300위안
51300 원

In [65]:
prices = input()

if prices[4:] == '달러':
    print (int(prices[:4]) * 1112, '원')
elif prices[4:] == '위안':
    print (int(prices[:4]) * 171, '원')

110 달러
122320 원

### Exercise 45. 문자열 다루기, 조건문, 데이터 구조 (dictionary)
* 다음 통화별 환율을 통화단위와 원화 환율을 가진 딕셔너리로 만들고 사용자로부터 달러, 엔, 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 위안, 또는 엔 과 같이 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
<tr>
<td>엔</td>
<td>1010</td>
</tr>
</tbody>
</table>

In [30]:
money = input("100부터 999까지 달러, 위안,엔 금액을 입력하세요 ex)100 달러")
exchange_rate = {'달러':1112 ,'위안':171,'엔':1010 }

if money[4:] == '달러':
    print(int(money[:4]) * 1112 , '원')
elif money[4:] == '위안':
    print(int(money[:4]) * 171 , '원')
elif money[4:] == '엔':
    print(int(money[:4]) * 1010 , '원')
else:
    print("올바른 단위를 입력해주세요")
    
#데이터 형태가 리스트이기때문에 번거롭게 if문을 돌릴필요가없다

100부터 999까지 달러, 위안,엔 금액을 입력하세요 ex)100 달러100 엔
101000 원

In [72]:
exchange = {'달러':1112, '위안':171, '엔':1010}
prices = input()
for exchange_item in exchange.keys():
    if prices[4:] == exchange_item:
        print (int(prices[:4]) * exchange[exchange_item], '원')

100 달러
111200 원

### Exercise 46. 이중 반복문
* 구구단을 2단부터 9단까지 다음과 같이 출력하세요
  - 출력 예
<pre>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
.
.
.
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
</pre>

In [39]:
for dan in range(2,10):
    for number in range(1,10):
            print(dan,"x",number,"=", dan * number)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [76]:
for index in range(2, 10):
    for index2 in range(1, 10):
        print (index, "X", index2, "=", index * index2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### Exercise 47. 이중 반복문과 조건문
* 구구단을 2단부터 9단까지 출력하되, 계산 값이 짝수인 경우에만 출력하세요
  - 예: 3 X 3 = 9 에서 9는 홀수이므로 출력하지 않는다.
  - 예: 2 X 4 = 8 에서 8은 짝수이므로 출력한다.
  - 최종 출력 예
<pre>
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
...
</pre>

In [41]:
for dan in range(2,10):
    for number in range(1,10):
        if dan * number % 2 == 0:
            print(dan , "x",number,"=", dan * number)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 4 = 28
7 x 6 = 42
7 x 8 = 56
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 4 = 36
9 x 6 = 54
9 x 8 = 72

In [81]:
for index in range(2, 10):
    for index2 in range(1, 10):
        if (index * index2) % 2 == 0: 
            print (index, "X", index2, "=", index * index2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

### Exercise 48. 이중 반복문과 데이터 구조 (리스트)
* 아파트 동호수를 다음과 같은 두 리스트 변수를 활용해서 출력하세요.
  - 단, 각 동과 동 사이에는 구분이 되도록 한 라인씩 띄워서 출력하세요

<pre>
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]
</pre>

  - 출력 예:
<pre>
6209동 101호
6209동 102호
6209동 103호
6209동 104호
</pre>
<pre>
6208동 101호
6208동 102호
6208동 103호
6208동 104호
</pre>
<pre>
6207동 101호
6207동 102호
6207동 103호
6207동 104호
</pre>

In [49]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

dongs.sort()

for dong in dongs:
    for ho in hos:
        print(dong,ho)
    print() #프린트함수 자체에 한칸띄우는 \n속성이 있다.

6207동 101호
6207동 102호
6207동 103호
6207동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6209동 101호
6209동 102호
6209동 103호
6209동 104호

In [86]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for dong in dongs:
    for ho in hos:
        print (dong, ho)
    print ("\n")

6209동 101호
6209동 102호
6209동 103호
6209동 104호


6208동 101호
6208동 102호
6208동 103호
6208동 104호


6207동 101호
6207동 102호
6207동 103호
6207동 104호