In [1]:
print ('hello jupyternotebook')

hello jupyternotebook

In [18]:
digit1 = 1
digit2 = 10
age = 24
name = "Dave"

In [21]:
print(digit2 + age)

34

In [ ]:
num = True
num2 = False

In [23]:
print(3 < 7)
print(10 < 3)
print(15 > 7)
print( 3 >= 3)
print( 3<=10)
print(34 == 100)
print(34 != 100)

True
False
True
True
True
False
True

In [27]:
radius = 10
pi = 3.1415
print("지름", radius * 2)
print("둘레", radius * 2 * pi)
print("넓이", (radius ** 2) * pi)

지름 20
둘레 62.830000000000005
넓이 314.15000000000003

In [31]:
name = input("what is your name?")
print("hi",name)

what is your name?aaa
hi aaa

In [32]:
digit = input()

2

In [33]:
digit

'2'

In [34]:
float(3)

3.0

In [35]:
int(3.6)

3

In [39]:
int("12")

12

In [44]:
float(123)

123.0

In [45]:
print(float(123))

123.0

In [47]:
digit = "123"
print(type(float(digit)))

<class 'float'>

In [48]:
int(input("How old are you?")) # 입력과 Typecasting

How old are you?24

24

In [49]:
digit1 = int(input())
digit2 = int(input())

print(digit1 * digit2)

3
4
12

In [50]:
article = """Joe Abbess, 17, from Southampton, and 12-year-old Sunnah Khan, from Buckinghamshire, both died in hospital after the incident on Wednesday.

An inquest opening at Dorset Coroner's Court heard there was a "suggestion" a riptide had led to the pair drowning.

Dorset Police said it was keeping an "open mind" about the circumstances that led to the deaths.

The force said it was considering causes including the impact of weather conditions and the state of the water.

It has dismissed speculation the pair had jumped from the pier."""

In [57]:
print(article.count("Joe"))
print(len(article))
print(article.find("coroner"))
print(article.replace("force","namsu"))
print(article[0])
print(article[-1])
print(article[4])

1
532
-1
Joe Abbess, 17, from Southampton, and 12-year-old Sunnah Khan, from Buckinghamshire, both died in hospital after the incident on Wednesday.

An inquest opening at Dorset Coroner's Court heard there was a "suggestion" a riptide had led to the pair drowning.

Dorset Police said it was keeping an "open mind" about the circumstances that led to the deaths.

The namsu said it was considering causes including the impact of weather conditions and the state of the water.

It has dismissed speculation the pair had jumped from the pier.
J
.
A

In [61]:
string1 = "python"
string2 = "c++"

In [62]:
print(string1[2:4])

th

In [68]:
some_string = "    ,,,computer   "
print(some_string)
some_string.replace(",","").strip()

    ,,,computer

'computer'

In [72]:
print("i have a {1}, I have an {0}".format("pen","apple"))

i have a apple, I have an pen